/* BEGIN: GENERAL*/

body {
    font-family: 'Charis SIL', serif;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

section {
    height: auto;
    background-color: white;
}


/* END: GENERAL*/


/* BEGIN: HEADER*/

.hero {
    background-color: #1c1d25;
    height: 100vh;
    color: white;
    font-size: 40px;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 80px;
}

nav {
    display: flex;
    justify-content: space-between;
}

ul {
    display: flex;
    list-style-type: none;
    width: 500px;
    justify-content: space-around;
    font-size: 30px;
}

li {
    /*width: 200px;*/
    text-decoration: none;
}

h1 {
    font-size: 90px;
    margin: 0;
}

p {
    margin: 0;
    font-size: 30px;
    font-weight: 400;
}

.hero-area {
    display: flex;
    height: 100%;
    justify-content: space-between;
    align-items: center;
}

.hero-text {
    margin-left: 80px;
    margin-bottom: 200px;
    height: auto;
}

.button {
    width: 200px;
    height: 60px;
    border-radius: 40px;
    background-color: coral;
    text-align: center;
    font-size: 30px;
    font-weight: 300;
    padding-top: 5px;
    margin-top: 20px;
}

.button:hover {
    background-color: #ef744b;
}

.button:active {
    background-color: darkgray;
    color: #808080;
}

.socialmedia {
    padding-bottom: 200px;
}

.logo {
    height: 100px;
    margin: 10px;
}

.social-icon {
    margin: 10px;
}


/* END: HEADER*/


/* BEGIN: SUBSECTION*/

.subsection {
    display: flex;
    justify-content: space-around;
    padding: 80px;
}

.personalinfo {
    text-align: justify;
}

h2 {
    font-size: 60px;
}

.profilepicture {
    max-width: 300px;
    max-height: 380px;
    min-width: 180px;
    min-height: 250px;
    border-radius: 150px;
}

.headshot {
    display: flex;
    align-items: center;
    margin-left: 5vw;
    float: right;
}


/* END: SUBSECTION*/


/* BEING: PROJECTS*/

.project-unit {
    width: 400px;
    height: 600px;
    box-shadow: 5px 5px 20px rgb(206, 202, 202);
    margin: 10px;
}

.project-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.subsection2 {
    display: flex;
    flex-direction: column;
    text-align: center;
    height: auto;
    padding-bottom: 100px;
}

.subtext {
    font-size: 15px;
    font-weight: 300;
    padding: 0px 15px 5px 15px;
}

.projectimage {
    margin-top: 25px;
    width: 300px;
    height: 250px;
    border-radius: 125px;
}

hr {
    margin-left: 20px;
    margin-right: 20px;
}

.projectlink {
    text-decoration: none;
    color: #ef744b;
}

a {
    text-decoration: none;
    color: white;
}


/* END: PROJECTS*/

.hamburger {
    display: none;
}

.hamburger:focus {
    outline: 0;
}


/* BEGIN: HAMBURGER*/

@media only screen and (max-width: 1000px) {
    .hamburger {
        border: 0;
        background-color: transparent;
        color: white;
        font-size: 30px;
        display: block;
        margin: 20px;
        align-self: flex-end;
        height: auto;
    }
    ul {
        display: none;
        margin: 0;
        background-color: #2b2c38;
    }
    ul.show {
        display: block;
    }
    nav {
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-around;
        background-color: #2b2c38;
    }
    .logo {
        display: none;
    }
}


/* END: HAMBURGER*/


/* BEGIN: FOOTER*/


/* END: FOOTER*/